
.male_content{

     width: 100%;
     margin-top: 50px;

}




.males img{

    height: 420px;
}

.btn{
     
    width: 50%;
    margin-left: 25%;
    
   
}

.space_footer{

   width: 100%;
   height: 50px;
}