<div class="aboutus container">
    <img src="../assets/images/aboutusimg1.jpg">

    <p>
        
        
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Consequuntur animi unde nesciunt ad fugiat ipsam? Eligendi 
         itaque nobis sit quisquam repellat iure esse laboriosam exercitationem. 
         Corrupti adipisci iste blanditiis eius.
         Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Consequuntur animi unde nesciunt ad fugiat ipsam? Eligendi 
         itaque nobis sit quisquam repellat iure esse laboriosam exercitationem. 
         Corrupti adipisci iste blanditiis eius.
         Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Consequuntur animi unde nesciunt ad fugiat ipsam? Eligendi 
         itaque nobis sit quisquam repellat iure esse laboriosam exercitationem. 
         Corrupti adipisci iste blanditiis eius.
         Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Consequuntur animi unde nesciunt ad fugiat ipsam? Eligendi 
         itaque nobis sit quisquam repellat iure esse laboriosam exercitationem. 
         Corrupti adipisci iste blanditiis eius.

    </p>
    <a routerLink="/home">
    <button class="btn btn-primary">Back To  Home</button>

    </a>

</div>

<div class="space_footer"></div>